.klink{
	padding-right: 1.5em;
	background: transparent url("../img/K.png") no-repeat center right;
	color: #333;
	background-size: 1em;
	background-color: transparent;
}
.klink:hover{
	background-color: transparent;	
}

.ms_div {
	background-color: #DDD;
	width: 30%;
	float: left;
	margin-right: 1em;
	margin-top: 1em;
	padding: 0 0.7em;
}

.ms_div p#desc {
	text-overflow: ellipsis
}


.show_hide{
	font-size: 80%;
	color: #777;
	cursor: pointer;
}

.hide{
	border: 1px dotted #6D6060;
	padding: 5px;
	padding-bottom: 25px;
	display: none;
	max-width: 500px;
	background: url('../img/tooltips/Info.png') bottom right;
	background-size: 25px;
	background-repeat: no-repeat;
	margin: 15px 0px;
}

.clear {
	clear:both;
}

.foot {
	clear: both;
	color: #BBB;
	font-size: 10px;
	border-top: 1px solid;
	padding: 0.5em 0.25em;
	margin-top: 10px;
	float: right;
}

.conf {
	clear: both;
	list-style-type: none;
	color: #444;
	border: 1px dotted;
	padding: 0.2em 1em;
	float: right;
	background-color: #EEE;
	margin-top: 10px;
}

.conf ul li{
	list-style-type: none;
}

.conf p{
	text-align: left;
}
.conf ul li em{
	color: #B13;
	font-weight: bold;
}

.report_options_holder > .report_option {
	width: 33.3%;
	float: left;
	font-size: 120%;
	margin-top: 15px;
}

.report_options_holder {
	padding: 20px;
	max-width: 900px;
}

.components{
    clear: both;
    margin:  0px auto;
    padding: 1em;
}

.component_ticket_list{
    margin: 0px auto;
    width: 60%;
}

.component_ticket_list table{
    width: 100%;
    margin: 1em;
}

.component_ticket_list table .head{
	text-align: right;
	background-color: #eee;
	padding-right: 0.5em;
	max-width: 30%;
}

.component_ticket_list table td{
	text-align: center;
}

.projects_top {
    clear: both;
    max-width: 99%;
}
.project {
	clear: both;
}

.project .p_content{
    overflow: hidden;
}
.project .p_content .component {
	margin: 0em;
	max-width: 60%
}
.subproject {
/*	margin-left: 1em;
	margin-top: 1em;*/
	float: left;
	width: 33.3%;
/*	padding: 10px 1em;*/
}
.subproject .component{
        width: 100%;
        min-width : 100%;
	font-size: 95%
	
}
.p_content{
	border: 1px dotted #CCC;
	padding: 10px;
	margin-top: 10px;
}
.subproject .p_content{
	background-color: #eee;
	width: 93%;
	margin: 3px auto;
	padding: 10px;
}
.p_content h2{
     margin:0px;   
}

.kanban_container{
	height: 100%;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}

#bin_container {
	height:100%;
	margin: 0px;
	padding: 0px;
	float: left;
}

.kanban_bin{
	margin: 2px;
	border: 1px dotted #BCBCBC;
	padding: 1%;
	height: 100%;
}

.milestone_report_link > a {
	font-size: 120%;
	margin: 1px;
}

.milestone_report_link {
	width: 33.3%;
	float: left;
	margin-top: 10px;
}

.milestones_holder {
	width: 70%;
	margin: 0px auto;
}

/* Sexy tooltips: http://sixrevisions.com/css/css-only-tooltips/   */
div.tooltip {
	border-bottom: 1px dotted #000000; color: #000000; outline: none;
	cursor: help; text-decoration: none;
	position: relative;
}
div.tooltip span {
	margin-left: -999em;
	position: absolute;
}
div.tooltip:hover span {
	border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
	font-family: Calibri, Tahoma, Geneva, sans-serif;
	position: absolute; left: 1em; top: 2em; z-index: 99;
	margin-left: 0; width: 250px;
}
div.tooltip:hover div.img {
	border: 0; margin: -10px 0 0 -55px;
	float: left; position: absolute;
}
div.tooltip:hover em {
	font-family: Candara, Tahoma, Geneva, sans-serif; font-size: 1.2em; font-weight: bold;
	display: block; padding: 0.2em 0 0.6em 0;
}
.classic { padding: 0.8em 1em; }
.custom { padding: 0.5em 0.8em 0.8em 2em; }
* html a:hover { background: transparent; }
.classic {background: #FFFFAA; border: 1px solid #FFAD33; }
.critical { background: #FFCCAA; border: 1px solid #FF3334;	}
.help { background: #9FDAEE; border: 1px solid #2BB0D7;	}
.info { background: #9FDAEE; border: 1px solid #2BB0D7;	}
.warning { background: #FFFFAA; border: 1px solid #FFAD33; }

div.tooltip > span.critical > div.img {
	background: url('../img/tooltips/Critical.png') top left;
	background-size: 48px 48px;
	background-repeat: no-repeat;
	width: 48px;
	height: 48px;
}
div.tooltip > span.help > div.img {
	background: url('../img/tooltips/Help.png') top left;
	background-size: 48px 48px;
	background-repeat: no-repeat;
	width: 48px;
	height: 48px;
}
div.tooltip > span.info > div.img {
	background: url('../img/tooltips/Info.png') top left;
	background-size: 48px 48px;
	background-repeat: no-repeat;
	width: 48px;
	height: 48px;
}
div.tooltip > span.warning > div.img {
	background: url('../img/tooltips/Warning.png') top left;
	background-size: 48px 48px;
	background-repeat: no-repeat;
	width: 48px;
	height: 48px;
}

/* End of sexy tooltips */
		